@{
    ViewData["Title"] = "Locked out";
}

<header>
    <h2 class="text-danger">@ViewData["Title"]</h2>
    <p class="text-danger">Esta cuenta ha sido bloqueada, inténtelo de nuevo más tarde.</p>
</header>
