@model TwoFactorAuthenticationViewModel
@{
    ViewData["Title"] = "Autenticacion de dos factores";
    ViewData.AddActivePage(ManageNavPages.TwoFactorAuthentication);
}

<h4>@ViewData["Title"]</h4>
@if (Model.Is2faEnabled)
{
    if (Model.RecoveryCodesLeft == 0)
    {
        <div class="alert alert-danger">
            <strong>No te quedan códigos de recuperación.</strong>
            <p>Usted debe <a asp-action="GenerateRecoveryCodes">generar un nuevo conjunto de códigos de recuperación</a> antes de poder iniciar sesión con un código de recuperación.</p>
        </div>
    }
    else if (Model.RecoveryCodesLeft == 1)
    {
        <div class="alert alert-danger">
            <strong>Te queda 1 código de recuperación.</strong>
            <p>Usted puede <a asp-action="GenerateRecoveryCodes">generar un nuevo conjunto de códigos de recuperación</a>.</p>
        </div>
    }
    else if (Model.RecoveryCodesLeft <= 3)
    {
        <div class="alert alert-warning">
            <strong>Tú tienes @Model.RecoveryCodesLeft códigos de recuperación restantes.</strong>
            <p>Debería <a asp-action="GenerateRecoveryCodes">generar un nuevo conjunto de códigos de recuperación</a>.</p>
        </div>
    }

    <a asp-action="Disable2faWarning" class="btn btn-default">Disable 2FA</a>
    <a asp-action="GenerateRecoveryCodesWarning" class="btn btn-default">Restablecer códigos de recuperación</a>
}

    <h5>Aplicacion de autenticacion</h5>
@if (!Model.HasAuthenticator)
{
    <a asp-action="EnableAuthenticator" class="btn btn-default">Agregar aplicacion de autenticacion</a>
}
else
{
    <a asp-action="EnableAuthenticator" class="btn btn-default">Configurar la aplicación de autenticacion</a>
    <a asp-action="ResetAuthenticatorWarning" class="btn btn-default">Restablecer la clave del autenticador</a>
}

@section Scripts {
    @await Html.PartialAsync("_ValidationScriptsPartial")
}
